<p *ngIf="!updating; else updatingComment">
  <span *ngIf="comment.replyingTo" class="replying-to">
    {{ "@" + comment.replyingTo + " " }} </span
  >{{ comment.content }}
</p>
<ng-template #updatingComment>
  <form [formGroup]="commentForm" (ngSubmit)="emitContent()">
    <textarea formControlName="content"></textarea>
    <div>
      <app-text-button
        type="submit"
        [hue]="'238'"
        [saturation]="'40'"
        [lightness]="'52'"
      >
        UPDATE
      </app-text-button>
    </div>
  </form>
</ng-template>
