.comment-article__box {
  max-width: 350px;
}

.comment-card__box {
  border-radius: 7px;
  background-color: white;
  padding: 1rem;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
