<article class="comment-article__box">
  <div class="comment-card__box">
    <div class="comment-header">
      <img
        src="{{ comment.user.image.webp }}"
        alt="{{ comment.user.username }}"
      />
      <h4>{{ comment.user.username }}</h4>
      <h6>{{ comment.createdAt }}</h6>
    </div>

    <p>{{ comment.content }}</p>

    <div class="comment-interactive">
      <button (click)="replyComment()">Reply</button>
    </div>
  </div>

  <app-comment-replies-list
    *ngIf="comment.replies && comment.replies.length > 0"
    [replies]="comment.replies"
  ></app-comment-replies-list>
</article>
