<section [ngClass]="['comment-card']">
  <article [ngClass]="{ 'comment-card__box': true, 'bold-border': isCreator }">
    <app-comment-header
      [userImg]="comment.user.image.webp"
      [userName]="comment.user.username"
      [createdAt]="comment.createdAt"
      [isCreator]="isCreator"
    ></app-comment-header>
    <p>
      <span *ngIf="comment.replyingTo">@{{ comment.replyingTo + " " }}</span
      >{{ comment.content }}
    </p>
    <div [ngClass]="['comment-card__iteractive-buttons']">
      <app-score-counter [value]="comment.score"></app-score-counter>
      <div *ngIf="isCreator">
        <app-delete-button></app-delete-button>
        <app-edit-button></app-edit-button>
      </div>
      <app-reply-button *ngIf="!isCreator"></app-reply-button>
    </div>
  </article>

  <app-comment-replys-list
    *ngIf="comment.replies && comment.replies.length > 0"
    [replies]="comment.replies"
    [currentUser]="currentUser"
  >
  </app-comment-replys-list>
</section>
