<section [ngClass]="['comment-card']">
  <article [ngClass]="{ 'comment-card__box': true }">
    <app-comment-header
      [comment]="comment"
      [isCreator]="isCreator"
    ></app-comment-header>

    <p>
      <app-at-reference [replyingTo]="comment.replyingTo"></app-at-reference>
      {{ comment.content }}
    </p>

    <div [ngClass]="['comment-card__iteractive-buttons']">
      <app-score-counter [value]="comment.score"></app-score-counter>

      <div *ngIf="isCreator; else replyBox">
        <app-delete-button></app-delete-button>
        <app-edit-button></app-edit-button>
      </div>

      <ng-template #replyBox>
        <app-reply-button [comment]="comment"></app-reply-button>
      </ng-template>
    </div>
  </article>

  <app-comment-replys-list
    *ngIf="(comment.replies && comment.replies.length > 0) || isReplying"
    [replies]="comment.replies"
    [currentUser]="currentUser"
  >
    <app-text-input-comment
      *ngIf="isReplying"
      [replyingTo]="replyingTo"
    ></app-text-input-comment>
  </app-comment-replys-list>
</section>
