.comment-card {
  max-width: 345px;
  width: 100%;
}

.comment-card__box {
  max-width: 345px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.comment-card__box .comment-card__iteractive-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

.comment-card__iteractive-buttons div {
  display: flex;
  gap: 1rem;
}

.comment-card__box p {
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 2%, 55%);
  padding: 1rem;
}

.comment-card__box p span {
  font-weight: 500;
  color: hsl(238, 40%, 52%);
}

.bold-border {
  border: 5px solid blue;
}
