.replies-list__box {
  display: flex;
  padding: 1rem 0;
}

.replies-list__box hr {
  border: none;
  margin-right: 1rem;
  width: 2px;
  background-color: #e3e4e7;
}

.replies-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .replies-list__box hr {
    margin: 0 3rem;
    width: 3px;
  }
}
