.score-counter__box {
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.score-counter__box button {
  border: none;
  background: none;
  color: hsl(239, 57%, 85%);
  padding: 0.6rem;
  cursor: pointer;
}

.score-counter__box span {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  width: 25px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
