.text-input-comment {
  max-width: 345px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  bottom: 0vh;
}

.text-input-comment img {
  height: 26px;
  width: 26px;
  margin: 1rem;
}

.text-input-comment input {
  margin: 1rem;
  background-color: #5457b6;
  border: none;
  color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
}

.text-input-comment textarea {
  resize: none;
  border: 1px solid #e3e4e7;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-bottom: 0;
  outline: none;
}

.text-input-comment div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
