<section class="confirm-background" *ngIf="confirmData.isConfirming">
  <div class="modal__box">
    <article>
      <h5>{{ confirmData.header }}</h5>
      <p *ngIf="confirmData.content">{{ confirmData.content }}</p>
      <div class="interactive-buttons">
        <app-text-button (click)="closeModal()">NO, CANCEL</app-text-button>
        <app-text-button
          [color]="'hsl(358, 79%, 66%)'"
          (click)="executeAction()"
          >YES, DELETE</app-text-button
        >
      </div>
    </article>
  </div>
  <section (click)="closeModal()"></section>
</section>
